<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog Application</title>
</head>

<body>
    <%- include('./partials/scripts') %>
        <%- include('./partials/nav') %>
            <div class="alert alert-success" role="alert">
                SignUp successful! Please login to continue.
            </div>
</body>

</html>