<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog Application</title>
  </head>

  <body>
    <%- include('./partials/scripts') %> <%- include('./partials/nav') %>
    <div class="container mt-4">
      <h1>Welcome to Blogify ! Mr <%= locals.user %></h1>
      <p>
        Your one-stop destination for sharing your thoughts and ideas with the
        world.
        <br />
        Explore the latest blogs, connect with fellow bloggers, and let your
        creativity flow!
      </p>
    </div>
  </body>
</html>
