<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog Application</title>
</head>

<body>
    <%- include('./partials/scripts') %>
        <%- include('./partials/nav') %>

</body>

</html>